body{
    padding: 20px;
}

table{
    border-style: none;
    border-collapse: collapse;
}


th{
    background-color: rgb(255, 213, 0);
    font-weight: bold;
    padding-inline: 50px;
    text-align: center;
}

td{
    padding-right: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

.second{
    color:rgb(148, 148, 148);
    font-size: small;
}

.button{
    text-align: center;
    padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(255, 213, 0);
    border-radius: 45%;
    color: black;
}

.button:hover{
    background-color: rgb(134, 112, 0);
}

.button-well{
    text-align: center;
    padding: 10%;
    background-color: rgb(8, 163, 0);
    border-radius: 45%;
    margin-left: 50%;
    color: black;
}

.button-well:hover{
    background-color: rgb(5, 100, 0);
}

.button-bad{
    text-align: center;
    padding: 10%;
    background-color: rgb(163, 0, 0);
    border-radius: 45%;
    margin-left: 50%;
    color: black;
}

.button-bad:hover{
    background-color: rgb(116, 2, 2);
}

.button-good{
    text-align: center;
    padding: 10%;
    background-color: rgb(0, 211, 211);
    border-radius: 45%;
    margin-left: 50%;
    color: black;
}

.button-good:hover{
    background-color: rgb(0, 129, 129);
}

.button-notbad{
    text-align: center;
    padding: 10%;
    background-color: rgb(255, 255, 0);
    border-radius: 45%;
    margin-left: 50%;
    color: black;
}

.button-notbad:hover{
    background-color: rgb(132, 132, 0);
}

tr:nth-child(odd){
    background-color: blue;
}

tr:hover:nth-child(odd){
    background-color: rgb(0, 0, 116);
}

tr:nth-child(even){
    background-color: purple;
}

tr:hover:nth-child(even){
    background-color: rgb(74, 1, 74);
}

